..features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  width: 6.5rem;
  height: 6.5rem;
  margin: 0 auto 0.5rem auto;
}

.featureSvg img { display: block; }
